@page "/Usuarios"
@using Modelos;

<h3>Lista de Usuarios</h3>

@if (lista == null)
{
    <p> No existe usuarios en el sistema</p>
}
else
{
    <table class=" table">
       <thead>
            <tr>
                <th>Código </th>
                <th>Nombre </th>
                <th>Rol </th>
                <th>Fecha Creación </th>
                <th>Está Activo</th>
                <th>Correo </th>
                <!--
                     <th>Foto</th>
                -->
               
            </tr>
       </thead>

       <tbody>

         
            @foreach (Usuario user in lista)   //agregar los usuarios
            {
              <tr>
          
                  <th>@user.CodigoUsuario</th>
                  <th>@user.Nombre</th>
                  <th>@user.Rol</th>
                  <th>@user.FechaCreacion</th>
                    @if(user.EstaActivo)
                    {
                        <th>
                            <span class="oi oi-circle-check" style=" color:green;"></span>
                        </th>
                    }
                    else
                    {
                        <th>
                            <span class="oi oi-circle-x" style=" color: red;"></span>
                        </th>
                    }

                  <th>@user.Correo</th>
                    
                  //Dirige a una ruta
                  <th>
                        <a class="btn btn-success" href="@($"/Usuarios/Editar")">Editar</a>
                  </th>

              </tr>  
            }
        </tbody>

    </table>
}
