@page "/Usuarios"
@using Modelos;

<h3>Lista de Usuarios</h3>

@if (lista == null)
{
    <p> No existe usuarios en el sistema</p>
}
else
{
    <table class=" table">
       <head>

            <tr>
                <th> Codigo </th>
                <th> Nombre </th>
                <th> Rol </th>
                <th> Fecha Creacion </th>
                <th> Esta Activo</th>
                <th>Correo </th>
                <th> Foto</th>
            </tr>
       </head>
       <tbody>
            @foreach (Usuario user in lista)
            {
              <tr>
                  <th>@user.CodigoUsuario</th>
                  <th>@user.Nombre</th>
                  <th>@user.Rol</th>
                  <th>@user.FechaCreacion</th>
                  <th>@user.EstaActivo.</th>
                  <th>@user.Correo</th>
                  
              </tr>  
            }
        </tbody>
    </table>
}
